
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto' , sans-serif;
}

header{
    background-image: linear-gradient(to right,#008080,#dd2cc5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10,10,10,0.3);
}
h2{
    color: #ffff;
}

nav{
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style-type: none; /*disc*/
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span{
    padding-left: 3px;
}

li a{
    padding: 5px;
    background-color: #ffe08b;
    text-decoration: none;
}

.cart i{
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}
 .cart a{
     background-color: #5a5a5a;
     color: #ffff;
     cursor: pointer;
     text-decoration: none;
 }

 .container,
 .products-container{
     display: flex ;
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 50px;
    padding-bottom: 100px;
}

.images{
     margin-right: 20px;
     margin-left: 20px;
     position: relative;
     overflow: hidden;
     max-width: fit-content;
}

.add-cart{
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.images:hover .cart1,
.images:hover .cart2,
.images:hover .cart3,
.images:hover .cart4 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

/*-------------------------Cart Page CSS Part-------------------------------------------------*/

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container i{
font-size: 25px;
color: blue;
left: 10px;
margin-right: 10px;
cursor: pointer;
}

.products-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
}

.products-tittle{
    width: 45%;
}

.price{
    width: 15%;
    border-bottom: 4px solid lightgrey;
    display: flex;
    align-items: center;
}

.quantity{
    width: 30%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.total{
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.products{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

